<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="{{ url_for('product_list') }}" class="logo">Fast Shop</a>
        <div class="login">
            <form action="{{ url_for('register') }}" method="get">
                <input type="submit" value="Register">
            </form>
            <form action="{{ url_for('login') }}" method="get">
                <input type="submit" value="Login">
            </form>
        </div>
        <div class="cart">
            Your cart is empty.
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
