{% extends "base.html" %}
{% block title %}
    Cart
{% endblock %}

{% block content%}
<h1>Your cart</h1>
<br>
{% for product in products %}
    {% for key, value in product.items() %}
        <p>{{ key.name }}  quantity: {{value[0]}}</p>
        <form action="{{ url_for('delete_cart_item_by_id', cart_item_id=value[1] ) }}" method="get">
            <input type="submit" value="Delete">
        </form>
    {% endfor %}
{% endfor %}
<h2>Total cost: $ {{ total_cost }}</h2>

<form action="{{ url_for('update_cart') }}" method="get">
    <input type="submit" value="Change">
</form>
<br>
<form action="{{ url_for('clear_cart') }}" method="get">
    <input type="submit" value="Clear">
</form>
<br>
<form action="{{ url_for('order') }}" method="get">
    <input type="submit" value="Create order">
</form>
{% endblock %}
