{% extends "base.html" %}
{% block title %}
    Order
{% endblock %}

{% block content %}
    {% with msg=msg %}
        {% if msg %}
        {{ msg }}
        {% endif %}
    {% endwith %}
    <h1>Your Order №{{ order.id }}</h1>
    <h2>The order is placed for:</h2>
    <p>First name: {{ order.first_name }}</p>
    <p>Last name: {{ order.last_name }}</p>
    <p>Email: {{ order.email }}</p>
    <p>Address: {{ order.address }}</p>
    <p>Postal code: {{ order.postal_code }}</p>
    <p>City: {{ order.city }}</p>
    <br>
    <h2>Products:</h2>
    {% for product in products %}
        {% for key, value in product.items() %}
            <p>{{ key.name }}  quantity: {{value[0]}}</p>
        {% endfor %}
    {% endfor %}
    <h2>Total cost: $ {{ total_cost }}</h2>
    <form action="#">
        <input type="submit" value="PAY">
    </form>
{% endblock %}
